{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Lista Citas</title>
    <link rel="stylesheet" href="{% static 'bootstrap/5.3.1/css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        .table1 {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
            border: 2px solid black;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .crear-button {
            margin-right: 20px;
        }

        td {
            background-color: #f3f3f3;
        }

        .main-body {
            background-color: #f8f9fa; /* Cambia el color de fondo según tu preferencia */
        }
    </style>
</head>
<body class="main-body">
    <div class="sidebar close">
        <div class="logo-details">
            <img src="{% static 'img/Carro.jpg' %}" alt="">
            <span class="logo_name">Auto Speed's-Fierro</span>
        </div>
        <ul class="nav-links">
            <li>
                <div class="iocn-link">
                    <a href="{% url 'agendar' %}">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Agendar</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="{% url 'contactos' %}">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="link_name">Contactos</span>
                </a>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="{% url 'ver_inventario' %}">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Productos</span>
                    </a>
                </div> 
            </li>
            <li>
                <div class="iocn-link">
                    <a href="{% url 'ver_servicios' %}">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Servicios</span>
                    </a>
                </div> 
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                    </div>
                    <div class="name-job">
                        <div class="job">Don Speeds Fierro</div>
                        <div class="profile_name">{{ user.username }}</div> <!-- Aquí se mostrará el nombre de usuario -->
                    </div>
                    <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none">
                        {% csrf_token %}
                    </form> 
                    <button class="btn btn-sm btn-outline-light" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                        <i class='bx bx-log-out'></i> Logout
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Listado de citas</span>
        </div>
        <div class="container mt-5">
            <a href="{% url 'crear_cita' %}" class="btn btn-primary">Crear Cita</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Identificación</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Color</th>
                            <th>PLaca</th>
                            <th>Detalles</th>
                            <th>Servicio</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Acciones</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for cite in cites %}
                        <tr>
                            <td>{{ cite.client_name }}</td>
                            <td>{{ cite.client_email }}</td>
                            <td>{{ cite.client_id }}</td>
                            <td>{{ cite.brand }}</td>
                            <td>{{ cite.model }}</td>
                            <td>{{ cite.year }}</td>
                            <td>{{ cite.color }}</td>
                            <td>{{ cite.plate_number }}</td>
                            <td>{{ cite.notes }}</td>
                            <td>{{ cite.service.nombre }}</td>  <!-- Accede al atributo 'name' del modelo 'Service' relacionado -->
                            <td>{{ cite.date }}</td>
                            <td>{{ cite.time }}</td>
                            <td>
                                <a href="{% url 'eliminar_cita' cite.id %}" class="btn btn-danger btn-sm">Cancelar</a>
                                <a href="{% url 'reagendar_cita' cite.id %}" class="btn btn-primary btn-sm">Reagendar</a>
                            </td>                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
</body>
</html>
