{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Error 500</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos2.css' %}">
        <link
            href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap"
            rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="izquierda">
                <img src="{% static 'img/llave22.png' %}" alt="llave izquierda">
            </div>
            <div class="derecha">
                <img src="{% static 'img/llave222.png' %}" alt="llave derecha">
            </div>
        </header>
        <div class="error-container">
            <div class="carita">
                <h1>Err<img src="{% static 'img/carita triste2.png' %}" alt="Letra E">r</h1>
            </div>
            <div class="tuercas">
                <h1>5<img src="{% static 'img/tuerca2.png' %}" alt="Número 5"><img
                        src="{% static 'img/tuerca2.png' %}" alt="Número 5"></h1>
            </div>
            <div class="texto">
                <img src="{% static 'img/tl22.png' %}" alt=""><p>Internal Server<br>Error</p><img
                    src="{% static 'img/tl222.png' %}" alt="">
            </div>
            <div class="arms">
                <div class="left-arm"><i class="fas fa-wrench"></i></div>
                <div class="right-arm"><i class="fas fa-wrench"></i></div>
            </div>
        </div>
    </body>
</html>
